<h2>Matieres</h2>
<ul class="list-group">
  <app-matiere  *ngFor="let matiere of matieres; let i = index"
                 [matiereName]="matiere.name"
                 [matiereStatus]="matiere.status"
                 [matiereLike]="matiere.like"
                 [matiereDislike]="matiere.dislike"
                 [index]="i"
                 [id]="matiere.id"></app-matiere>
</ul>
<button class="btn btn-success"
        (click)="onAllumer()">Tout allumer</button>

<button class="btn btn-danger"
        (click)="onEteindre()" style="margin-left: 10px;">Tout éteindre</button>

<button class="btn btn-success"
        (click)="allLike()" style="margin-left: 100px;">Tout liker</button>

<button class="btn btn-danger"
        (click)="allDislike()" style="margin-left: 10px;">Tout disliker</button>
