<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': matiereStatus === 'allumé',
                'list-group-item-danger': matiereStatus === 'éteint'}">

  <div style="width:20px;height:20px;background-color:red;"
       *ngIf="matiereStatus === 'éteint'"></div>

  <div style="width:20px;height:20px;background-color:green;"
       *ngIf="matiereStatus === 'allumé'"></div>

  <h4 [ngStyle]="{color: getColor()}">Matiere : {{ matiereName }}  ->  Statut : {{ getStatus()}}</h4>
  <h4>Like : {{ getLike()}}</h4>
  <h4>Dislike : {{ getDislike()}}</h4>
  <a [routerLink]="[id]">Détail</a>

  <input type="text" class="form-control" [(ngModel)]="matiereName">

  <button class="btn btn-sm btn-success"
          *ngIf="matiereStatus === 'éteint'"
          (click)="onSwitch()">Allumer</button>
  <button class="btn btn-sm btn-danger"
          *ngIf="matiereStatus === 'allumé'"
          (click)="onSwitch()">Eteindre</button>

  <button class="btn btn-sm"
          (click)="onLike()" style="margin-left: 100px;">LIKE</button>

  <button class="btn btn-sm"
          (click)="onDislike()" style="margin-left: 10px;">DISLIKE</button>

</li>
